.container {
    background-color: black ;
    display: flex;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    background-attachment: fixed;
    background-image: url('/morty.png');
    
}

.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    gap: 2rem;
}